<!DOCTYPE html><html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Projetos | Last Seven</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
   <div class="header-container">
      <img src="/public/imagens/Logo.jpg" alt="logo last seven" class="logo">
      <div class="header-texto">
        <h1>Formulario de Pedido</h1> 
       <p>Gerando ideias e criando soluções</p>
      </div>
<div class="voltar-wrapper">
  <a href="../../index.html" class="voltar">Voltar</a>
</div>

</div>
  </header> 
   <!-- Cards da equipe -->
  <main>
    <section class="card-container">
      <div class="cards-container">
      <!-- Card 1 -->
      <div class="card">
        <img class="card-img" src="../../public/imagens/adaiana.jpg" alt="Pessoa 1">
        <h3>Contrrole de Gastos</h3>
        <a href="Perfil_equipe/Adaiana.html">Ver Perfil</a>
      </div>

      <!-- Card 2 -->
      <div class="card">
        <img class="card-img" src="../../public/imagens/eduarda.jpg" alt="Pessoa 2">
        <h3>E-Comerce</h3>
        <a href="Perfil_equipe/Eduarda.html">Ver Perfil</a>
      </div>

      <!-- Card 3 -->
      <div class="card">
        <img class="card-img" src="../../public/imagens/gean.jpg" alt="Pessoa 3">
        <h3>Endereço</h3>
        <a href="Perfil_equipe/gean.html">Ver Perfil</a>
      </div>

      <!-- Card 4 -->
      <div class="card">
        <img class="card-img" src="../../public/imagens/vinicius.jpg" alt="Pessoa 4">
        <h3>Escola</h3>
        <a href="Perfil_equipe/Vinicius.html">Ver Perfil</a>
      </div>

      <!-- Card 5 -->
      <div class="card">
        <img class="card-img" src="../../public/imagens/joao.jpg" alt="Pessoa 5">
        <h3>Pequeno</h3>
        <a href="Perfil_equipe/Joao.html">Ver Perfil</a>
      </div>

     
      </div>
    </section>
  </main>
   
  </main> 
  <footer>
    <p>&copy; 2025 Last Seven. Todos os direitos reservados</p>
  </footer>
</body>
</html>