<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contato | Last Seven</title>
  <link rel="stylesheet" href="/public/css/style.css" />
</head>
<body>
  <!-- Header (igual ao index.html) -->
  <header>
    <div class="header-container">
      <img src="/public/imagens/Logo.jpg" alt="logo last seven" class="logo">
      <div class="header-texto">
        <h1>Contatos e Endereço</h1> 
       
      </div>
  </header>

  <!-- Conteúdo principal -->
  <main class="main-contato">
    <div class="container-contato">
    <section class="contato">
      <div class="info-contato">
        <p><strong>Endereço:</strong> Rua Exemplo: 128</p>
        <p><strong>Telefone:</strong> (00) 1224-5678</p>
        <p><strong>Email:</strong> email@exemplo.com</p>
        
        
      </div>
    </section>

    <!-- Âncora abaixo do conteúdo principal -->
    <div class="link-ancora">
      <a href="../../index.html" class="btn-ancora">Voltar</a>
      <a href="formulario.html" class="btn-ancora">Pedido</a>
     </div>
     </div>
  </main>

  <!-- Footer (igual ao index.html) -->
  <footer>
    <p>&copy; 2025 Last Seven. Todos os direitos reservados.</p>
  </footer>
</body>
</html>